[submodule "fantastic-train"]
	path = fantastic-train
	url = https://github.com/niktob560/fantastic-train
[submodule "mcuterminaltranslator"]
	path = mcuterminaltranslator
	url = https://github.com/niktob560/mcuterminaltranslator
